.MinimiseButton--main {
  position: absolute;
  top: 0px;
  right: calc(5px * 5);
  padding: 10px;

  filter: invert(78%) sepia(0%) saturate(1412%) hue-rotate(349deg) brightness(99%) contrast(74%);
  -webkit-app-region: no-drag;
  width: 5vw;
  height: 4vh;
}
