.CloseButton--main {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;

	filter: invert(78%) sepia(0%) saturate(1412%) hue-rotate(349deg) brightness(99%) contrast(74%);
	-webkit-app-region: no-drag;
	width: 6vw;
	height: 4vh;
}
